@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(./fontes/idroid.otf)format('opentype');
    font-weight: normal;
}


* { margin: 0px;
padding: 0px;}
:root {
    --cor0:#c5ebd6;
     --cor1:#83e1ad;
    --cor2:#3ddc84;
     --cor3:#2fa866;
    --cor4:#1a5c37;
   --cor5:#063d1e;

   --fonte-padrão: arial,verdana,helvetica,sans-serif;
   --fonte-destaque:'bebas neue',cursive;
   --fonte-android:'android',cursive;

}

body {background-color: var(--cor0);
font-family: var(--fonte-padrão);}

header {background-image:linear-gradient(to bottom,var(--cor3),var(--cor5)) ;
min-height: 150px;
text-align: center;
padding-top: 40px;
}

header> h1 {color: white;
font-family: var(--fonte-destaque);
margin-bottom: 20px;
font-size: 3em;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.411);}

header>p {color: white;
font-family: var(--fonte-padrão);
font-size: 1.2em;
max-width: 500px;
margin: auto;
padding: 0px 10px 0px 10px;
text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.274);}

nav {color: white;
text-align: left;
padding: 10px;
box-shadow: 0 7px 7px black;}

nav> a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    
}
nav >a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}


main{ min-width: 300px;
    max-width: 1000px;
margin: auto;
background-color: white;
margin-bottom: 30px;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
border-bottom-left-radius:10px ;
border-bottom-right-radius:10px  ;}
    

main h1 {
    
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2 { color: var(--cor5);
font-family: var(--fonte-android);}

main img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}
footer { background-color: #2fa866;}